/* CSS for ADD Button */

.addButton {
    background-color: #fff;
    border: 2px solid #d5d9d9;
    border-radius: 8px;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    box-sizing: border-box;
    color: #0f1111;
    cursor: pointer;
    display: inline-block;
    font-family: "Amazon Ember", sans-serif;
    font-size: 13px;
    line-height: 29px;
    padding: 5px 15px 5px 15px;
    margin: 15px 0 0px 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    width: 200px;
}

.addButton:hover {
    background-color: #f4a23d;
}

.addButton:focus {
    border-color: #008296;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    outline: 0;
}


/* CSS ADD Buton Ends */


/* CSS for Modal button */

.modal-content {
    width: 100%;
    margin: 0 auto;
}

.modal-body {
    padding: 0;
}

.btn-close {
    position: absolute;
    right: 0;
    padding: 1em;
}

h1 {
    font-size: 2.3em;
    font-weight: bold;
}

.myform {
    padding: 2em;
    max-width: 100%;
    color: #fff;
    box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
    @media (max-width: 576px) {
        max-width: 90%;
        margin: 0 auto;
    }
}

.form-control:focus {
    box-shadow: inset 0 -1px 0 #7e7e7e;
}

.form-control {
    background-color: inherit;
    color: #fff;
    padding-left: 0;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #fff;
}

.myform .btn {
    width: 100%;
    font-weight: 800;
    background-color: #fff;
    border-radius: 0;
    padding: 0.5em 0;
}

.myform .btn:hover {
    background-color: inherit;
    color: #fff;
    border-color: #fff;
}

p {
    text-align: center;
    padding-top: 2em;
    color: grey;
}

p a {
    color: #e1e1e1;
    text-decoration: none;
}

p a:hover {
    color: #fff;
}

a {
    text-decoration: none;
    color: #d5d9d9
}

a:hover {
    color: #fff;
}

h6 a {
    color: #000000;
    text-decoration: none;
}

.notification {
    text-decoration: none;
    position: relative;
    display: inline-block;
}

.notification:hover {
    background: rgba(134, 132, 132, 0.626);
}

.notification .badge {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 8px 10px;
    border-radius: 50%;
    background-color: rgba(255, 0, 0, 0.74);
    color: white;
}


/* CSS for Modal button ends */