.profile_img {
    position: relative;
    /* width: 50%; */
}

.image {
    opacity: 1;
    display: block;
    width: 200px;
    height: 200px;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.profile_img:hover .image {
    opacity: 0.1;
}

.profile_img:hover .middle {
    opacity: 2;
}

input[type="file"] {
    display: none;
}

.pic-update-lable {
    background-color: rgba(0, 0, 0, 0.373);
    color: aliceblue;
    transition: 2s;
}

.pic-submit {
    display: none;
    margin-left: 500px;
}