.left-nav {
    text-align: center;
    font-size: 20px;
    background-color: rgba(185, 185, 185, 0.349);
}


/* CSS for ADD Button */

.addButton {
    background-color: #fff;
    border: 1px solid #f4a23d;
    border-radius: 8px;
    /* box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0; */
    box-sizing: border-box;
    color: #f4a23d;
    cursor: pointer;
    display: inline-block;
    font-family: "Amazon Ember", sans-serif;
    font-size: 13px;
    font-weight: bold;
    line-height: 29px;
    padding: 5px 15px 5px 15px;
    margin: 15px 0 0px 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    width: 200px;
}

.addButton:hover {
    background-color: #f4a23d;
    color: #0f1111;
    border: 1px solid #080706;
}

.pendingButton:focus {
    border-color: #008296;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    outline: 0;
}

.deleteButton:hover {
    background-color: #f30000;
}

.deleteButton:focus {
    border-color: #008296;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    outline: 0;
}

.deleteButton {
    background-color: #fff;
    border: 2px solid #d5d9d9;
    border-radius: 8px;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    box-sizing: border-box;
    color: #0f1111;
    cursor: pointer;
    display: inline-block;
    font-family: "Amazon Ember", sans-serif;
    font-size: 13px;
    line-height: 29px;
    padding: 5px 15px 5px 15px;
    margin: 15px 0 0px 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    width: 200px;
}

.pendingButton {
    background-color: #fff;
    border: 1px solid #f4a23d;
    border-radius: 8px;
    /* box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0; */
    box-sizing: border-box;
    color: #f4a23d;
    cursor: pointer;
    display: inline-block;
    font-family: "Amazon Ember", sans-serif;
    font-size: 13px;
    font-weight: bold;
    line-height: 29px;
    padding: 5px 15px 5px 15px;
    margin: 15px 0 0px 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    width: 200px;
}

.pendingButton:hover {
    background-color: #f4a23d;
    color: #0f1111;
    border: 1px solid #080706;
}


/* CSS ADD Buton Ends */